<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly-additions.min.css">
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <!-- <div class="container"> -->
    <div id='app'>
        <form>
            <label>
                First name:
                <input type="text" v-model="firstName" />
            </label>
            <label>
                Last name:
                <input type="text" v-model="lastName" />
            </label>
            <button @click.prevent="handleSubmit()">Get values</button>
        </form>
        <!-- <template> -->
        <!-- @submit handles any form of submission. -->
        <!-- .prevent keeps the event from bubbling around and doing anything else. -->
        <!-- <form @submit.prevent="handleSubmit"> -->
        <!-- <label>
            First name:
            <input type="text" v-model="firstName" @change="handleSubmit()" />
        </label>
        <label>
            Last name:
            <input type="text" v-model="lastName" @change="handleSubmit()" />
        </label>
        <button type="submit">Submit</button> -->
        <p>firstname is: {{ firstName }}, lastname is {{lastName}}</p>
        <!-- </form> -->
        <!-- </template> -->
    </div>
    <!-- </div> -->
    <script>
        // import axios from 'axios';
        var app = new Vue({
            el: '#app',
            data() {
                return {
                    firstName: "",
                    lastName: "",
                    errors: []
                    // author: {
                    //     firstName: '',
                    //     lastName: '',
                    //     errors:[]
                    // }
                }
            },

            methods: {
                handleSubmit() {
                    axios.post('http://127.0.0.1:8000/api/authors/', {
                            // firstname: this.firstname,
                            // lastname: this.lastName
                            firstname: this.firstName,
                            lastname: this.lastName
                        })
                        .then(function (response) {
                            console.log(111);
                            console.log(this.app.firstName);
                            // console.log(this.author);
                        })
                        .catch(e => {
                            console.log(222)
                            console.log(this.firstname);
                            this.errors.push(e);
                        })
                }
            }
        })
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/js/patternfly.min.js"></script>
</body>

</html>