<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/css/patternfly-additions.min.css">
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div class="container">

        <div id='app'>
            <span v-bind:title='message'>test</span>
            {{message}}
        </div>

        <div id='app-8'>
            <p style="color: red">test</p>
            <p v-bind:style='{color:color}'>dfdfdfd</p>
        </div>

        <div id='app-2'>
            <span v-bind:title='message'>
                Hover your mouse over me for a few seconds to see my dynamically bound title!
            </span>
        </div>

        <div id='app-3'>
            <span v-if='seen'>Now you can see me!!!</span>
        </div>

        <div id="app-4">
            <ol>
                <li v-for="todo in todos">
                    {{todo.text}}
                </li>
            </ol>
        </div>

        <div id="app-5">
            <p>{{ message }}</p>
            <button v-on:click='reverseMessage'>Reverse message!!</button>
        </div>

        <div id='app-6'>
            <p>{{ message }}</p>
            <input v-model='message'>
        </div>

        <div id='app-7'>
            <ol>
                <todo-item v-for="item in groceryList" v-bind:todo='item' v-bind:key='item.id'></todo-item>
            </ol>
        </div>

        <div id="app-9">
                <ol>
                        <li v-for="author in authorlist">
                            {{author.lastname}}
                        </li>
                    </ol>
                    <p>{{authorlist}}</p>
                <!-- <button v-on:click='getAuthors'>Get Authors</button> -->
            </div>

    </div>

    <script src="index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/patternfly/3.24.0/js/patternfly.min.js"></script>
</body>

</html>